apiVersion: v1
kind: Service
metadata:
  name: demo-app
spec:
  type: NodePort
  selector:
    app: demo-app
  ports:
    - port: 80          # port Service
      targetPort: 5000  # port trong container
      nodePort: 32000   # port expose ra EC2