apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app-deployment
  annotations:
    argocd-image-updater.argoproj.io/image-list: demo=congthanh19/demo-app
    argocd-image-updater.argoproj.io/demo.update-strategy: newest-build
    argocd-image-updater.argoproj.io/write-back-method: git
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - name: demo-app
        image: congthanh19/demo-app
        ports:
        - containerPort: 5000
