name: test and build 

on:
  push:
    branches:
      - master
    paths:
      - '**/*'
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8

      - name: Docker setup
        uses: docker/setup-buildx-action@v3

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8 
      # test code
      - name: Run tests
        run: |
          flake8 --ignore=E501,F401 .
      # docker credentials
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      # docker tag and push
      - name: Docker build image
        run: docker build -t congthanh19/demo-app:${{github.sha}} .
      - name: Docker push
        run: docker push congthanh19/demo-app:${{github.sha}}
      # update image tag in deployment file
      - name: Update deployment file
        run: |
          sed -i 's|image: congthanh19/demo-app:.*|image: congthanh19/demo-app:${{ github.sha }}|' deploy/deploy.yaml
      # commit and push changes to deployment file
      - name: Commit and push changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add demo-app.yaml
          git diff --cached --quiet || git commit -m "Update demo-app image to ${{ github.sha }} [skip ci]"
          git push
     
